<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="text-align:center; font-family:Monospace">
    <h2>Zaya Learning Assignment</h2>
    <h1 style="font-size:50px">ZAYA CAB</h1>
    <h1>A RESTful API</h1>
    <h2>FOR</h2>
    <h1>Cab Booking System</h1>
    <h2>designed by</h2>
    <h1>Saalim Khan</h1>
</body>
</html>